@mixin clearfix {
  &::after,
  &::before {
    clear: both;
    content: "";
    display: table;
  }
}

@mixin respond-to($screen) {
  @if $screen == mobile {
    @media (max-width: $width-screen-extra-small-maximum) {
      @content;
    }
  }
}
