.actor {
  display: inline-block;
  margin-bottom: 1rem;
  text-align: center;

  &,
  &:active,
  &:focus,
  &:hover {
    text-decoration: none !important;
  }

  & + & {
    margin-left: 1rem;
  }

  &-image {
    border: 2px solid $color-text-dark-primary;
    border-radius: 50%;
  }
}
