.article {
  &-header {
    margin-bottom: 24px;

    .card-heading {
      font-family: $font-family-marker;
      font-weight: 400;
      line-height: 1.5;

      a {
        background-image: linear-gradient(transparent 62%, $color-highlight-yellow 62%);
        padding: 0 4px;
      }
    }

    &-note {
      color: $color-text-dark-secondary;
      font-size: 0.9em;
    }
  }

  &-footer-links {
    font-size: 0.9rem;
    line-height: 1.7;
    padding-bottom: 16px;
    padding-top: 16px;
  }

  &-slideshow {
    max-width: 600px;
    height: 400px;
  }

  audio {
    width: 100%;
  }
}
